In [16]:
import pandas as pd
import numpy as np
import pyrebase
import time
import os

In [17]:
configFirebase = {
    "apiKey": "AIzaSyAOuiUFFKIGHHI5tr_DOaNQ1S38iCPDAGg",
    "authDomain": "inforut-18f59.firebaseapp.com",
    "databaseURL": "https://inforut-18f59-default-rtdb.firebaseio.com",
    "projectId": "inforut-18f59",
    "storageBucket": "inforut-18f59.appspot.com",
    "messagingSenderId": "751622155502",
    "appId": "1:751622155502:web:d5b00b671bc739245c97ff"
}

In [18]:
firebase = pyrebase.initialize_app(configFirebase)
dbF = firebase.database()

In [19]:
archivo_excel = 'https://firebasestorage.googleapis.com/v0/b/inforut-18f59.appspot.com/o/files%2FReporte%20FyM%20TTE%20GOMEZ%20R40HC23SCLW38MT.xlsx?alt=media&token=1a50380a-6149-4a4d-b7ef-9a65332d0316'
df = pd.read_excel(archivo_excel)

In [21]:
for index, row in df.iterrows():
    print(row['RUT Chofer'])

6489609-1
9468066-2
27005596-6
10135947-6
10764481-4
14275195-K
11547679-3
26590907-8
26735462-6
12046245-8
15077191-9
16777267-6
6681970-1
10975003-4
19043068-5
25590905-3
12739180-7
12752499-8
13707219-K
13369355-6
12240916-3
16291982-2
12588782-1
10184552-4
13714279-1
8606373-5
15078540-5
17193657
6269472
15871671-2
19452842-6
14007220-6
18859519-7
9468066-2
25463960-5
6297758-2
10673850-5
11945915-K
15895585
13575237-1
19405616-8
8128918-2
17079067-7
12451937-3
14011998-9
11547679-3
22220541
13428026-3
10474034-0
11608492-9
logisto
26865007-5
13721490-3
27315878-2
10767591-4
15111869-0
13769027-6
10975003-4
12739180-7
11275919-0
10738514-2
10862138-9
8984774-5
14395112-K
15510790-1
12829987-4
10719964-0
27005596-6
10853416-8
26766225-8
14118850-K
16290699-2
4565305
12270828-4
16487622-5
9615624
10172448
14536640
15778350-5
10681445-7
8560673-5
12355212-1
8128918-2
12467720-3
17280776
15623123-1
7546779-6
14239513-4

In [18]:
d = dbF.child("/Clients/-MwCLX2T0MyL7KJ6440O/Event/-N5C5vx4dYGT5gEg4jAX/Meetings").get()
parsed_json1 = d.val()

In [19]:
parches = []
for clave1, valor1 in parsed_json1.items():
    if 'FriendsMeetings' in valor1:
        for clave2, valor2 in valor1['FriendsMeetings'].items():
            parches.append({'type':'privado','createdAt':valor2['createdAt'],'description':valor2['description'],'people':len(valor2['people'])})
df_parches = pd.DataFrame(parches)
df_parches

      type      createdAt   description  people
0  privado  1659143726630  Parche Rebus      12
1  privado  1659147027660                     2